<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>奶粉罐-旋转</title>
        <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js" ></script>
        <script type="text/javascript" src="/static/js/j360.js" ></script>
    </head>
    <body>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#product').j360();
            });
        </script>
        <center>
            <div id="product" style="width: 640px; height: 480px; overflow: hidden;">
                <img src='/static/images/gold/0100.png'>
                <img src='/static/images/gold/0099.png'>
                <img src='/static/images/gold/0098.png'>
                <img src='/static/images/gold/0097.png'>
                <img src='/static/images/gold/0096.png'>
                <img src='/static/images/gold/0095.png'>
                <img src='/static/images/gold/0094.png'>
                <img src='/static/images/gold/0093.png'>
                <img src='/static/images/gold/0092.png'>
                <img src='/static/images/gold/0091.png'>
                <img src='/static/images/gold/0090.png'>
                <img src='/static/images/gold/0089.png'>
                <img src='/static/images/gold/0088.png'>
                <img src='/static/images/gold/0087.png'>
                <img src='/static/images/gold/0086.png'>
                <img src='/static/images/gold/0085.png'>
                <img src='/static/images/gold/0084.png'>
                <img src='/static/images/gold/0083.png'>
                <img src='/static/images/gold/0082.png'>
                <img src='/static/images/gold/0081.png'>
                <img src='/static/images/gold/0080.png'>
                <img src='/static/images/gold/0079.png'>
                <img src='/static/images/gold/0078.png'>
                <img src='/static/images/gold/0077.png'>
                <img src='/static/images/gold/0076.png'>
                <img src='/static/images/gold/0075.png'>
                <img src='/static/images/gold/0074.png'>
                <img src='/static/images/gold/0073.png'>
                <img src='/static/images/gold/0072.png'>
                <img src='/static/images/gold/0071.png'>
                <img src='/static/images/gold/0070.png'>
                <img src='/static/images/gold/0069.png'>
                <img src='/static/images/gold/0068.png'>
                <img src='/static/images/gold/0067.png'>
                <img src='/static/images/gold/0066.png'>
                <img src='/static/images/gold/0065.png'>
                <img src='/static/images/gold/0064.png'>
                <img src='/static/images/gold/0063.png'>
                <img src='/static/images/gold/0062.png'>
                <img src='/static/images/gold/0061.png'>
                <img src='/static/images/gold/0060.png'>
                <img src='/static/images/gold/0059.png'>
                <img src='/static/images/gold/0058.png'>
                <img src='/static/images/gold/0057.png'>
                <img src='/static/images/gold/0056.png'>
                <img src='/static/images/gold/0055.png'>
                <img src='/static/images/gold/0054.png'>
                <img src='/static/images/gold/0053.png'>
                <img src='/static/images/gold/0052.png'>
                <img src='/static/images/gold/0051.png'>
                <img src='/static/images/gold/0050.png'>
                <img src='/static/images/gold/0049.png'>
                <img src='/static/images/gold/0048.png'>
                <img src='/static/images/gold/0047.png'>
                <img src='/static/images/gold/0046.png'>
                <img src='/static/images/gold/0045.png'>
                <img src='/static/images/gold/0044.png'>
                <img src='/static/images/gold/0043.png'>
                <img src='/static/images/gold/0042.png'>
                <img src='/static/images/gold/0041.png'>
                <img src='/static/images/gold/0040.png'>
                <img src='/static/images/gold/0039.png'>
                <img src='/static/images/gold/0038.png'>
                <img src='/static/images/gold/0037.png'>
                <img src='/static/images/gold/0036.png'>
                <img src='/static/images/gold/0035.png'>
                <img src='/static/images/gold/0034.png'>
                <img src='/static/images/gold/0033.png'>
                <img src='/static/images/gold/0032.png'>
                <img src='/static/images/gold/0031.png'>
                <img src='/static/images/gold/0030.png'>
                <img src='/static/images/gold/0029.png'>
                <img src='/static/images/gold/0028.png'>
                <img src='/static/images/gold/0027.png'>
                <img src='/static/images/gold/0026.png'>
                <img src='/static/images/gold/0025.png'>
                <img src='/static/images/gold/0024.png'>
                <img src='/static/images/gold/0023.png'>
                <img src='/static/images/gold/0022.png'>
                <img src='/static/images/gold/0021.png'>
                <img src='/static/images/gold/0020.png'>
                <img src='/static/images/gold/0019.png'>
                <img src='/static/images/gold/0018.png'>
                <img src='/static/images/gold/0017.png'>
                <img src='/static/images/gold/0016.png'>
                <img src='/static/images/gold/0015.png'>
                <img src='/static/images/gold/0014.png'>
                <img src='/static/images/gold/0013.png'>
                <img src='/static/images/gold/0012.png'>
                <img src='/static/images/gold/0011.png'>
                <img src='/static/images/gold/0010.png'>
                <img src='/static/images/gold/0009.png'>
                <img src='/static/images/gold/0008.png'>
                <img src='/static/images/gold/0007.png'>
                <img src='/static/images/gold/0006.png'>
                <img src='/static/images/gold/0005.png'>
                <img src='/static/images/gold/0004.png'>
                <img src='/static/images/gold/0003.png'>
                <img src='/static/images/gold/0002.png'>
                <img src='/static/images/gold/0001.png'>
                <img src='/static/images/gold/0000.png'>
            </div>
        </center>
    </body>
</html>
