<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>奶粉罐-旋转</title>
        <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js" ></script>
        <script type="text/javascript" src="/static/js/j360.js" ></script>
    </head>
    <body>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#product').j360();
            });
        </script>
        <center>
            <div id="product" style="width: 640px; height: 480px; overflow: hidden;">
                <img src='/static/images/golds/0100.png'>
                <img src='/static/images/golds/0099.png'>
                <img src='/static/images/golds/0098.png'>
                <img src='/static/images/golds/0097.png'>
                <img src='/static/images/golds/0096.png'>
                <img src='/static/images/golds/0095.png'>
                <img src='/static/images/golds/0094.png'>
                <img src='/static/images/golds/0093.png'>
                <img src='/static/images/golds/0092.png'>
                <img src='/static/images/golds/0091.png'>
                <img src='/static/images/golds/0090.png'>
                <img src='/static/images/golds/0089.png'>
                <img src='/static/images/golds/0088.png'>
                <img src='/static/images/golds/0087.png'>
                <img src='/static/images/golds/0086.png'>
                <img src='/static/images/golds/0085.png'>
                <img src='/static/images/golds/0084.png'>
                <img src='/static/images/golds/0083.png'>
                <img src='/static/images/golds/0082.png'>
                <img src='/static/images/golds/0081.png'>
                <img src='/static/images/golds/0080.png'>
                <img src='/static/images/golds/0079.png'>
                <img src='/static/images/golds/0078.png'>
                <img src='/static/images/golds/0077.png'>
                <img src='/static/images/golds/0076.png'>
                <img src='/static/images/golds/0075.png'>
                <img src='/static/images/golds/0074.png'>
                <img src='/static/images/golds/0073.png'>
                <img src='/static/images/golds/0072.png'>
                <img src='/static/images/golds/0071.png'>
                <img src='/static/images/golds/0070.png'>
                <img src='/static/images/golds/0069.png'>
                <img src='/static/images/golds/0068.png'>
                <img src='/static/images/golds/0067.png'>
                <img src='/static/images/golds/0066.png'>
                <img src='/static/images/golds/0065.png'>
                <img src='/static/images/golds/0064.png'>
                <img src='/static/images/golds/0063.png'>
                <img src='/static/images/golds/0062.png'>
                <img src='/static/images/golds/0061.png'>
                <img src='/static/images/golds/0060.png'>
                <img src='/static/images/golds/0059.png'>
                <img src='/static/images/golds/0058.png'>
                <img src='/static/images/golds/0057.png'>
                <img src='/static/images/golds/0056.png'>
                <img src='/static/images/golds/0055.png'>
                <img src='/static/images/golds/0054.png'>
                <img src='/static/images/golds/0053.png'>
                <img src='/static/images/golds/0052.png'>
                <img src='/static/images/golds/0051.png'>
                <img src='/static/images/golds/0050.png'>
                <img src='/static/images/golds/0049.png'>
                <img src='/static/images/golds/0048.png'>
                <img src='/static/images/golds/0047.png'>
                <img src='/static/images/golds/0046.png'>
                <img src='/static/images/golds/0045.png'>
                <img src='/static/images/golds/0044.png'>
                <img src='/static/images/golds/0043.png'>
                <img src='/static/images/golds/0042.png'>
                <img src='/static/images/golds/0041.png'>
                <img src='/static/images/golds/0040.png'>
                <img src='/static/images/golds/0039.png'>
                <img src='/static/images/golds/0038.png'>
                <img src='/static/images/golds/0037.png'>
                <img src='/static/images/golds/0036.png'>
                <img src='/static/images/golds/0035.png'>
                <img src='/static/images/golds/0034.png'>
                <img src='/static/images/golds/0033.png'>
                <img src='/static/images/golds/0032.png'>
                <img src='/static/images/golds/0031.png'>
                <img src='/static/images/golds/0030.png'>
                <img src='/static/images/golds/0029.png'>
                <img src='/static/images/golds/0028.png'>
                <img src='/static/images/golds/0027.png'>
                <img src='/static/images/golds/0026.png'>
                <img src='/static/images/golds/0025.png'>
                <img src='/static/images/golds/0024.png'>
                <img src='/static/images/golds/0023.png'>
                <img src='/static/images/golds/0022.png'>
                <img src='/static/images/golds/0021.png'>
                <img src='/static/images/golds/0020.png'>
                <img src='/static/images/golds/0019.png'>
                <img src='/static/images/golds/0018.png'>
                <img src='/static/images/golds/0017.png'>
                <img src='/static/images/golds/0016.png'>
                <img src='/static/images/golds/0015.png'>
                <img src='/static/images/golds/0014.png'>
                <img src='/static/images/golds/0013.png'>
                <img src='/static/images/golds/0012.png'>
                <img src='/static/images/golds/0011.png'>
                <img src='/static/images/golds/0010.png'>
                <img src='/static/images/golds/0009.png'>
                <img src='/static/images/golds/0008.png'>
                <img src='/static/images/golds/0007.png'>
                <img src='/static/images/golds/0006.png'>
                <img src='/static/images/golds/0005.png'>
                <img src='/static/images/golds/0004.png'>
                <img src='/static/images/golds/0003.png'>
                <img src='/static/images/golds/0002.png'>
                <img src='/static/images/golds/0001.png'>
                <img src='/static/images/golds/0000.png'>
            </div>
        </center>
    </body>
</html>
