<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>360 degrees product view</title>
        <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js" ></script>
        <script type="text/javascript" src="/static/js/j360.js" ></script>
    </head>
    <body>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#product').j360();
            });
        </script>
        <center>
            <div id="product" style="width: 640px; height: 480px; overflow: hidden;">
                <img src='/static/images/milk/0100.png'>
                <img src='/static/images/milk/0099.png'>
                <img src='/static/images/milk/0098.png'>
                <img src='/static/images/milk/0097.png'>
                <img src='/static/images/milk/0096.png'>
                <img src='/static/images/milk/0095.png'>
                <img src='/static/images/milk/0094.png'>
                <img src='/static/images/milk/0093.png'>
                <img src='/static/images/milk/0092.png'>
                <img src='/static/images/milk/0091.png'>
                <img src='/static/images/milk/0090.png'>
                <img src='/static/images/milk/0089.png'>
                <img src='/static/images/milk/0088.png'>
                <img src='/static/images/milk/0087.png'>
                <img src='/static/images/milk/0086.png'>
                <img src='/static/images/milk/0085.png'>
                <img src='/static/images/milk/0084.png'>
                <img src='/static/images/milk/0083.png'>
                <img src='/static/images/milk/0082.png'>
                <img src='/static/images/milk/0081.png'>
                <img src='/static/images/milk/0080.png'>
                <img src='/static/images/milk/0079.png'>
                <img src='/static/images/milk/0078.png'>
                <img src='/static/images/milk/0077.png'>
                <img src='/static/images/milk/0076.png'>
                <img src='/static/images/milk/0075.png'>
                <img src='/static/images/milk/0074.png'>
                <img src='/static/images/milk/0073.png'>
                <img src='/static/images/milk/0072.png'>
                <img src='/static/images/milk/0071.png'>
                <img src='/static/images/milk/0070.png'>
                <img src='/static/images/milk/0069.png'>
                <img src='/static/images/milk/0068.png'>
                <img src='/static/images/milk/0067.png'>
                <img src='/static/images/milk/0066.png'>
                <img src='/static/images/milk/0065.png'>
                <img src='/static/images/milk/0064.png'>
                <img src='/static/images/milk/0063.png'>
                <img src='/static/images/milk/0062.png'>
                <img src='/static/images/milk/0061.png'>
                <img src='/static/images/milk/0060.png'>
                <img src='/static/images/milk/0059.png'>
                <img src='/static/images/milk/0058.png'>
                <img src='/static/images/milk/0057.png'>
                <img src='/static/images/milk/0056.png'>
                <img src='/static/images/milk/0055.png'>
                <img src='/static/images/milk/0054.png'>
                <img src='/static/images/milk/0053.png'>
                <img src='/static/images/milk/0052.png'>
                <img src='/static/images/milk/0051.png'>
                <img src='/static/images/milk/0050.png'>
                <img src='/static/images/milk/0049.png'>
                <img src='/static/images/milk/0048.png'>
                <img src='/static/images/milk/0047.png'>
                <img src='/static/images/milk/0046.png'>
                <img src='/static/images/milk/0045.png'>
                <img src='/static/images/milk/0044.png'>
                <img src='/static/images/milk/0043.png'>
                <img src='/static/images/milk/0042.png'>
                <img src='/static/images/milk/0041.png'>
                <img src='/static/images/milk/0040.png'>
                <img src='/static/images/milk/0039.png'>
                <img src='/static/images/milk/0038.png'>
                <img src='/static/images/milk/0037.png'>
                <img src='/static/images/milk/0036.png'>
                <img src='/static/images/milk/0035.png'>
                <img src='/static/images/milk/0034.png'>
                <img src='/static/images/milk/0033.png'>
                <img src='/static/images/milk/0032.png'>
                <img src='/static/images/milk/0031.png'>
                <img src='/static/images/milk/0030.png'>
                <img src='/static/images/milk/0029.png'>
                <img src='/static/images/milk/0028.png'>
                <img src='/static/images/milk/0027.png'>
                <img src='/static/images/milk/0026.png'>
                <img src='/static/images/milk/0025.png'>
                <img src='/static/images/milk/0024.png'>
                <img src='/static/images/milk/0023.png'>
                <img src='/static/images/milk/0022.png'>
                <img src='/static/images/milk/0021.png'>
                <img src='/static/images/milk/0020.png'>
                <img src='/static/images/milk/0019.png'>
                <img src='/static/images/milk/0018.png'>
                <img src='/static/images/milk/0017.png'>
                <img src='/static/images/milk/0016.png'>
                <img src='/static/images/milk/0015.png'>
                <img src='/static/images/milk/0014.png'>
                <img src='/static/images/milk/0013.png'>
                <img src='/static/images/milk/0012.png'>
                <img src='/static/images/milk/0011.png'>
                <img src='/static/images/milk/0010.png'>
                <img src='/static/images/milk/0009.png'>
                <img src='/static/images/milk/0008.png'>
                <img src='/static/images/milk/0007.png'>
                <img src='/static/images/milk/0006.png'>
                <img src='/static/images/milk/0005.png'>
                <img src='/static/images/milk/0004.png'>
                <img src='/static/images/milk/0003.png'>
                <img src='/static/images/milk/0002.png'>
                <img src='/static/images/milk/0001.png'>
                <img src='/static/images/milk/0000.png'>
            </div>
        </center>
    </body>
</html>
