<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>奶粉罐-旋转</title>
        <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js" ></script>
        <script type="text/javascript" src="/static/js/j360.js" ></script>
    </head>
    <body>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#product').j360();
            });
        </script>
        <center>
            <div id="product" style="width: 640px; height: 480px; overflow: hidden;">
                <img src='/static/images/min/0100.png'>
                <img src='/static/images/min/0099.png'>
                <img src='/static/images/min/0098.png'>
                <img src='/static/images/min/0097.png'>
                <img src='/static/images/min/0096.png'>
                <img src='/static/images/min/0095.png'>
                <img src='/static/images/min/0094.png'>
                <img src='/static/images/min/0093.png'>
                <img src='/static/images/min/0092.png'>
                <img src='/static/images/min/0091.png'>
                <img src='/static/images/min/0090.png'>
                <img src='/static/images/min/0089.png'>
                <img src='/static/images/min/0088.png'>
                <img src='/static/images/min/0087.png'>
                <img src='/static/images/min/0086.png'>
                <img src='/static/images/min/0085.png'>
                <img src='/static/images/min/0084.png'>
                <img src='/static/images/min/0083.png'>
                <img src='/static/images/min/0082.png'>
                <img src='/static/images/min/0081.png'>
                <img src='/static/images/min/0080.png'>
                <img src='/static/images/min/0079.png'>
                <img src='/static/images/min/0078.png'>
                <img src='/static/images/min/0077.png'>
                <img src='/static/images/min/0076.png'>
                <img src='/static/images/min/0075.png'>
                <img src='/static/images/min/0074.png'>
                <img src='/static/images/min/0073.png'>
                <img src='/static/images/min/0072.png'>
                <img src='/static/images/min/0071.png'>
                <img src='/static/images/min/0070.png'>
                <img src='/static/images/min/0069.png'>
                <img src='/static/images/min/0068.png'>
                <img src='/static/images/min/0067.png'>
                <img src='/static/images/min/0066.png'>
                <img src='/static/images/min/0065.png'>
                <img src='/static/images/min/0064.png'>
                <img src='/static/images/min/0063.png'>
                <img src='/static/images/min/0062.png'>
                <img src='/static/images/min/0061.png'>
                <img src='/static/images/min/0060.png'>
                <img src='/static/images/min/0059.png'>
                <img src='/static/images/min/0058.png'>
                <img src='/static/images/min/0057.png'>
                <img src='/static/images/min/0056.png'>
                <img src='/static/images/min/0055.png'>
                <img src='/static/images/min/0054.png'>
                <img src='/static/images/min/0053.png'>
                <img src='/static/images/min/0052.png'>
                <img src='/static/images/min/0051.png'>
                <img src='/static/images/min/0050.png'>
                <img src='/static/images/min/0049.png'>
                <img src='/static/images/min/0048.png'>
                <img src='/static/images/min/0047.png'>
                <img src='/static/images/min/0046.png'>
                <img src='/static/images/min/0045.png'>
                <img src='/static/images/min/0044.png'>
                <img src='/static/images/min/0043.png'>
                <img src='/static/images/min/0042.png'>
                <img src='/static/images/min/0041.png'>
                <img src='/static/images/min/0040.png'>
                <img src='/static/images/min/0039.png'>
                <img src='/static/images/min/0038.png'>
                <img src='/static/images/min/0037.png'>
                <img src='/static/images/min/0036.png'>
                <img src='/static/images/min/0035.png'>
                <img src='/static/images/min/0034.png'>
                <img src='/static/images/min/0033.png'>
                <img src='/static/images/min/0032.png'>
                <img src='/static/images/min/0031.png'>
                <img src='/static/images/min/0030.png'>
                <img src='/static/images/min/0029.png'>
                <img src='/static/images/min/0028.png'>
                <img src='/static/images/min/0027.png'>
                <img src='/static/images/min/0026.png'>
                <img src='/static/images/min/0025.png'>
                <img src='/static/images/min/0024.png'>
                <img src='/static/images/min/0023.png'>
                <img src='/static/images/min/0022.png'>
                <img src='/static/images/min/0021.png'>
                <img src='/static/images/min/0020.png'>
                <img src='/static/images/min/0019.png'>
                <img src='/static/images/min/0018.png'>
                <img src='/static/images/min/0017.png'>
                <img src='/static/images/min/0016.png'>
                <img src='/static/images/min/0015.png'>
                <img src='/static/images/min/0014.png'>
                <img src='/static/images/min/0013.png'>
                <img src='/static/images/min/0012.png'>
                <img src='/static/images/min/0011.png'>
                <img src='/static/images/min/0010.png'>
                <img src='/static/images/min/0009.png'>
                <img src='/static/images/min/0008.png'>
                <img src='/static/images/min/0007.png'>
                <img src='/static/images/min/0006.png'>
                <img src='/static/images/min/0005.png'>
                <img src='/static/images/min/0004.png'>
                <img src='/static/images/min/0003.png'>
                <img src='/static/images/min/0002.png'>
                <img src='/static/images/min/0001.png'>
                <img src='/static/images/min/0000.png'>
            </div>
        </center>
    </body>
</html>
